---
import { Image } from "astro:assets";
// Definisikan properti yang akan diterima komponen
const { quote, name, title, avatar } = Astro.props;
---

<li class="testimonial-card">
  <blockquote>
    <p>{quote}</p>
  </blockquote>
  <div class="client-info">
    <Image
      src={avatar}
      alt={name}
      class="client-avatar"
      width={60}
      height={60}
    />
    <div>
      <p class="client-name">{name}</p>
      <p class="client-title">{title}</p>
    </div>
  </div>
</li>

<style>
  .testimonial-card {
    background: var(--gradient-subtle);
    border: 1px solid var(--gray-800);
    box-shadow: var(--shadow-sm);
    padding: 2.5rem;
    border-radius: 1rem;
    height: 100%;
  }

  .client-info {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
  }

  .client-avatar {
    border-radius: 50%;
    object-fit: cover;
  }

  .client-name {
    font-weight: 700;
  }

  .client-title {
    color: var(--gray-500);
  }
</style>
